<% layout('./layout/boilerplate') -%>

<div class="row">
        
        <div class="col-lg-6">
            <div class="card mx-auto border shadow p-3 w-75 mt-4 ">
                <h2 class="text-center">Products</h2>
                <hr class="mt-2 mb-3">
                <% const user = currentUser.products %>
                <%for(const product of user){%>
                    <div class="col-lg-4">

                        <h1 class="text-center">
                            <%=product.name%>
                        </h1>
                        <div class="card col-4 mx-auto shadow" style="width: 23rem; margin: 10px; padding: 0;">
                            <img src="<%=product.img%>" class="card-img-top" alt="..." style="height : 220px">
                            <div class="card-body">
                                <h5 class="card-title" style="font-size: 1.8rem;"><%=product.name%></h5>
                                <h5 class="card-text">Price :<%=product.price%></h5>
                                
                                <div style="display: flex;">
                                
                            </div>

                        </div>
                    </div>
                </div>
                    <%}%>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card mx-auto border shadow p-3 w-75 mt-4 ">
                <%for(const product of user){%>
                    <div class="card-body" style="display: flex;">
                        <p><%= product.title %> -</p>
                        <p><%= product.price %> x <%= currentUser.products.length %></p>
                    </div>
                    <p>Total Amount :- <%= product.price * currentUser.products.length %></p>
                <%}%>
            </div>
        </div>
        

    </div>